
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="stylesheet" type="text/css" href="../../__PUBLIC__/css/main.css">
</head>
<body>
{// yaoming}
{/* yaoming*/}
<p>变量赋值：{$name}</p>
<p>遍历数组</p>
<p>make something</p>
<p>hello，yaoming</p>
<?php
echo '<pre>';
print_r($list);
echo '</pre>';
?>
<!-- 加注释符号依然能读取变量 -->
<!-- {foreach name="list" item="vo" key="key"} -->
{$key}{$vo}
<!-- {/foreach} -->
<hr>
{foreach name="list" item="vo" key="key"}
{$key}{$vo}
{/foreach}


{$Think.APP_PATH}
</body>
</html>